body {
  background-color: #2d3250;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8em;
}

.grid-box {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1em;
}

.data-box {
  background-color: #424769;
  border-radius: 5px;
  border: 3px solid #000;
  width: 400px;
  height: 520px;
  padding: 10px;
  margin-top: 4%;
}

.logo-box {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  justify-content: center;
  margin-top: -15px;
}

.logo-box p {
  color: #fff;
}

.resource-info {
  background-color: #7077a1;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #000;
  border: 2px solid #000;
  padding: 5px;
  margin-bottom: 10px;
}

.resource-info p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

.buttons-box {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.next-btn {
  background-color: #474d6e;
  border: 2px solid #000;
  border-radius: 2px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 2px #000;
}

.next-btn:hover {
  background-color: #2d3250;
  cursor: pointer;
}

.legend-box {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border:2px solid #000;
}

.legend {
  display: flex;
  flex-direction: column;
  background-color: #7077a1;
  color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #000;
  border: 2px solid #000;
  padding: 5px;
  margin-bottom: 10px;
}

.legend p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Leg-item {
  text-decoration: none;
  list-style: none;
}
.legend-label {
  color: #fff;
}
