<html>
  <header>
    <title>Rundle Retrievers</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
  </header>

  <body>
    <main>
      <div class="main-container">
        <div class="grid-box"></div>

        <div class="data-box">
          <div class="logo-box">
            <p>Rundle Retrivers</p>
          </div>

          <div class="resource-info">
            <p>Resource Board</p>
          </div>

          <div class="buttons-box">
            <button>Next Day</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
