<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rundle Retrievers</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
</head>

<body>

    <main>
        <div class="main-container">
            <div class="grid-box">
                <canvas id="grid" width="650px" height="650px" style="border:3px solid #000">
                    <script type="text/javascript">

                        // Calculations for the width and height of the grid and tiles.
                        const width = 100;
                        const height = 100;
                        const grid_width = 650;
                        const grid_height = 650;
                        const tile_width = grid_width / width;
                        const tile_height = grid_height / height;

                        /**
                        * Function for mapping x, y grid coordinates to coordinates on the JS canvas.
                        * @param x The X coordinate on the grid.
                        * @param y The Y coordinate on the grid.
                        * @returns An array containing the mapped [x, y] coordinates.
                        */
                        function map_xy(x, y) {
                            return [x * tile_width, y * tile_width];
                        }

                        /**
                        * Draws an (x, y) coordinate as a rectangle on the grid.
                        * @param x The x coordinate of a tile.
                        * @param y The y coordinate of a tile.
                        */
                        function draw_xy(x, y, colour, alpha) {
                            var mapped = map_xy(x, y);
                            ctx.globalAlpha = alpha;
                            ctx.strokeStyle = "#000000";
                            ctx.fillStyle = colour;
                            ctx.fillRect(mapped[0], mapped[1], tile_width, tile_height);
                        }

                        // All API endpoints for fetching
                        var WORLD_URL = {{url_for("world") | tojson }};
                        var OIL_URL = {{url_for("resources_api", resource = "oil", day = "1") | tojson }};
                        var CORAL_URL = {{url_for("resources_api", resource = "coral", day = "1") | tojson }}
                        var DRILL_URL = {{url_for("drill_position", day = "1") | tojson }}

                        const MAX_DAYS = 30; // The maximum number of days
                        var day = 0; // The current day for the simulation

                        // Canvas information
                        const canvas = document.getElementById("grid");
                        let ctx = canvas.getContext("2d");
                        ctx.lineWidth = 1;
                        ctx.strokeStyle = "#000000";
                        ctx.fillStyle = "#FF0000";

                        async function draw_land_and_water() {
                            let world = await fetch(WORLD_URL)
                                .then((response) => {
                                    return response.json();
                                })
                            for (let i = 0; i < world.land.length; i++) {
                                draw_xy(world.land[i].x, world.land[i].y, '#f5f5dc', 1);
                            }
                            for (let i = 0; i < world.water.length; i++) {
                                draw_xy(world.water[i].x, world.water[i].y, 'blue', 1);
                            }
                        }

                        async function draw_drill_get_stats(day) {
                            let drill = await fetch(DRILL_URL.replace("1", day.toString())).then((response) => {
                                return response.json();
                            });
                            draw_xy(drill.x, drill.y, "red", 1);
                            document.getElementById("oil-collected").textContent = `Oil collected: ${drill.collected.toFixed(2)}`;
                        }

                        async function draw_coral(day) {
                            let coral = await fetch(CORAL_URL.replace("1", day.toString()))
                                .then((response) => {
                                    return response.json();
                                });
                            for (let i = 0; i < coral.length; i++) {
                                draw_xy(coral[i].x, coral[i].y, 'pink', 0.7);
                            }
                        }

                        async function draw_oil(day) {
                            let oil = await fetch(OIL_URL.replace("1", day.toString()))
                                .then((response) => {
                                    return response.json();
                                });
                            for (let i = 0; i < oil.length; i++) {
                                draw_xy(oil[i].x, oil[i].y, 'black', 0.7);
                            }
                        }

                        async function next_day() {
                            day = (day + 1) % MAX_DAYS;
                            await draw_land_and_water();
                            await draw_oil(day);
                            await draw_coral(day);
                            await draw_drill_get_stats(day);
                            document.getElementById("which-day").textContent = `Day ${day}`;
                        }

                        next_day();

                    </script>
                </canvas>

            </div>



            <div class="data-box">
                <div class="logo-box">
                    <p><b>Rundle Retriever</b></p>
                </div>

                <div class="resource-info">
                    <p>Resource Board</p>
                    <p id="which-day">Day: 1</p>
                    <p id="oil-collected">Oil collected: 0</p>
                </div>

                <div class="buttons-box">
                    <button class="next-btn" onclick="next_day()">Next Day</button>
                </div>
            </div>
        </div>
</body>

</html>
