<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rundle Retrievers</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
</head>

<body>
    
    <main>
        <div class="main-container">
            <div class="grid-box">
                <canvas id="grid" width="650px" height="600px" style="border:4px solid #000">
                    <script type="text/javascript">

                        function map_xy(x, y) {
                            return [x * tile_width, y * tile_width];
                        }
        
                        function draw_xy(x, y, colour) {
                            var mapped = map_xy(x, y);
                            ctx.strokeStyle = "#000000";
                            ctx.fillStyle = colour;
                            ctx.fillRect(mapped[0], mapped[1], tile_width, tile_height);
                        }
        
                        const width = 100;
                        const height = 100;
                        const grid_width = 650;
                        const grid_height = 600;
                        const tile_width = grid_width / width;
                        const tile_height = grid_height / height;
                        var API_URL = {{url_for("world") | tojson}};
        
                        let canvas = document.getElementById("grid");
                        let ctx = canvas.getContext("2d");
        
                        ctx.lineWidth = 1;
                        ctx.strokeStyle = "#000000";
                        ctx.fillStyle = "#FF0000";

                        

                        fetch(API_URL)
                            .then((response) => {
                                response.json().then(world => {
                                    for(let i = 0; i < world.land.length; i++) {
                                        draw_xy(world.land[i].x, world.land[i].y, '#f5f5dc');

                                    }

                                    for(let i = 0; i < world.water.length; i++) {
                                        draw_xy(world.water[i].x, world.water[i].y, 'blue');

                                    }
                                }
                                )

                            }
                            )
                                    
                    </script>
                </canvas>
                
            </div>

            

            <div class="data-box">
                <div class="logo-box">
                    <p><b>Rundle Retriever</b></p>
                </div>

                <div class="resource-info">
                    <p>Resource Board</p>
                    
                </div>

                <div class="buttons-box">
                    <button class="next-btn">Next Day</button>
                </div>
            </div>
        </div>
</body>

</html>
